@import "bootstrap.less";
//body{background-color: #f6f6f6;}

// Single primary color that all mixins use. Str8 ballin.
//@primary:        hsl(202, 100%, 50%);
 
// Primary Variants -
//@primaryLight:   hsl(hue(@primary), 100%, 70%);
//@primaryDark:    hsl(hue(@primary), 60%, 40%);
//@primaryFaded:   hsl(hue(@primary), 60%, 65%);
 
// 180degree Variants
//@variant:         spin((@primary), 180);
//@variantLight:    hsl(hue(@variant), 100%, 70%);
//@variantDark:     hsl(hue(@variant), 60%, 40%);
//@variantFaded:    hsl(hue(@variant), 60%, 65%);
 
// 90degree Variants
//@corner:         spin((@primary), 70);
//@cornerLight:    hsl(hue(@corner), 100%, 70%);
//@cornerDark:     hsl(hue(@corner), 60%, 40%);
//@cornerFaded:    hsl(hue(@corner), 60%, 65%);

//p.test{color: @corner};
//
#branding {background-color: white;}
#strapline{padding-right: 2em; padding-top: 1em;}
footer #silhouette-container {background-color: @body-bg; }    

@font-face {font-family: NotoSerifReg;src: url("../fonts/eot/NotoSerif/NotoSerif-Regular.eot") }/* EOT file for IE */
@font-face {font-family: NotoSerifReg;src: url("../fonts/ttf/NotoSerif/NotoSerif-Regular.ttf") } /* TTF file for CSS3 browsers */


@font-face {font-family: NotoSerifItalic;src: url("../fonts/eot/NotoSerif/NotoSerif-Italic.eot") }/* EOT file for IE */
@font-face {font-family: NotoSerifItalic;src: url("../fonts/ttf/NotoSerif/NotoSerif-Italic.ttf") } /* TTF file for CSS3 browsers */

@font-face {font-family: NotoSerifBold;src: url("../fonts/eot/NotoSerif/NotoSerif-Bold.eot") }/* EOT file for IE */
@font-face {font-family: NotoSerifBold;src: url("../fonts/ttf/NotoSerif/NotoSerif-Bold.ttf") } /* TTF file for CSS3 browsers */

//@font-face {font-family: NotoSerifBoldItalic;src: url("../fonts/eot/NotoSerif/NotoSerif-BoldItalic.eot") }/* EOT file for IE */
//@font-face {font-family: NotoSerifBoldItalic;src: url("../fonts/ttf/NotoSerif/NotoSerif-BoldItalic.ttf") } /* TTF file for CSS3 browsers */



.russianReg {font-family: NotoSerifReg, Verdana, Arial, serif;font-size: 115%;}
.russianItalic {font-family: NotoSerifItalic, Verdana, Arial, serif;font-size: 115%;}
.russianBold {font-family: NotoSerifBold, Verdana, Arial, serif;font-size: 115%;}

blockquote span.russianBold, blockquote span.russianReg{color:black;}

hr#page-line {color: #fdf7f7; background-color: #fdf7f7; height: 1px;}



/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #fbf4f4;
  border-color: @russian-red;
}
.bs-callout-warning h4 {
  color: #c09853;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #3a87ad;
}








